<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	<!--ConnectString Config-->
	<connectionStrings configSource="Config\db.config"></connectionStrings>
	<!--UrlRewrite Config-->
	<urlrewritingnet configSource="Config\urlrewrite.config"></urlrewritingnet>
	<!-- App key -->
	<appSettings configSource="Config\app.config"></appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="/pages/login.aspx"/>
				<add value="default.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
