<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="WebSoftEntities" connectionString="metadata=res://*/WebSoft.csdl|res://*/WebSoft.ssdl|res://*/WebSoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=WEBSOFT;User ID=sa;Password=12345;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /><add name="WEBSOFTEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=WEBSOFT;User ID=sa;Password=12345;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>