<appSettings>
  
  <!--Cấu hình hệ thống-->
  <add key="WebRoot" value="http://localhost:2012/"/>
  <add key="WebRoot.Backend" value="http://localhost:2012/"/>

  <add key="WEB_TITLE" value="Hệ thống quản trị WebSoft"/>
  <add key="WEB_KEYWORD" value="Thương mại điện tử, Mua bán trực tuyến, Cửa hàng, Mua hàng theo nhóm"/>
  <add key="WEB_DESCRIPTION" value="ss.go.vn - Website thương mại điện tử hàng đầu tại Việt Nam, cung cấp hàng trăm nghìn sản phẩm từ hàng nghìn nhà cung cấp khác nhau"/>

  <!-- Set thời gian tồn tại cookie tính theo phút: 60*15 = 15 giờ -->
  <add key="COOKIE_DOMAIN" value=""/>
  <add key="COOKIE_EXPIRES" value="900"/>

  <!-- Hack login: 1:hack, 0:không hack-->
  <add key="IS_HACK_LOGIN" value="0"/>
  <add key="LOG_PATH" value="c:\\log.txt"/>
</appSettings>