<div id="divPopupBg" class="divPopup_bg">
</div>
<div id="divPopup_UpdateAdmin" class="divPopup_border divPopup_wrapperMain" style="width: 700px;">
    <div class="divPopup_wrapper">
        <div style="height: 30px;" class="barpopup">
            <div style="float: left;" class="titlepopup">
                Thêm mới tài khoản
            </div>
            <div style="float: right;" class="popupclosebutton" title="Đóng">
                &nbsp;</div>
            <div style="clear: both;">
            </div>
        </div>
        <div class="content_popup">
            <div class="popup_message">
                <div class="form" style="padding-top: 5px;">
                    <div class="fields">
                        <div class="field">
                            <div style="float: left; width: 50%;">
                                <div class="labelincol widthincol120">
                                    <label for="input">
                                        Tên đăng nhập:</label>
                                </div>
                                <div class="input">
                                    <input type="text" id="txtUserName" maxlength="50" class="textbox_small" tabindex="11" />
                                </div>
                            </div>
                            <div style="float: left; width: 50%;" id="divPassword">
                                <div class="labelincol widthincol120">
                                    <label for="input">
                                        Mật khẩu:</label>
                                </div>
                                <div class="input">
                                    <input type="password" id="txtPassword" maxlength="50" class="textbox_small" tabindex="12" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div style="float: left; width: 50%;">
                                <div class="labelincol widthincol120">
                                    <label for="input">
                                        Họ và tên:</label>
                                </div>
                                <div class="input">
                                    <input type="text" id="txtFullName" maxlength="30" class="textbox_small" tabindex="13" />
                                </div>
                            </div>
                            <div style="float: left; width: 50%;">
                                <div class="labelincol widthincol120">
                                    <label for="input">
                                        Giới tính:</label>
                                </div>
                                <div class="input" style="line-height: 30px;">
                                    <input type="radio" value="Nam" id="rdMale" tabindex="14" checked="checked" title="Nam"
                                        name="Sex" style="float: none;" />
                                    <label class="radiotext" for="rdMale" style="cursor: pointer">
                                        Nam</label>
                                    <input type="radio" value="Nữ" id="rdFemale" tabindex="15" title="Nữ" name="Sex"
                                        style="float: none;" />
                                    <label class="radiotext" for="rdFemale" style="cursor: pointer">
                                        Nữ</label>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div style="float: left; width: 50%;">
                                <div class="labelincol widthincol120">
                                    <label for="input">
                                        Email:</label>
                                </div>
                                <div class="input">
                                    <input type="text" id="txtEmail" maxlength="50" class="textbox_small" tabindex="16" />
                                </div>
                            </div>
                            <div style="float: left; width: 50%;">
                                <div class="labelincol widthincol120">
                                    <label for="input">
                                        Điện thoại:</label>
                                </div>
                                <div class="input">
                                    <input type="text" id="txtPhone" maxlength="15" class="textbox_small" tabindex="17" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div style="float: left; width: 50%;">
                                <div class="labelincol widthincol120">
                                    <label for="input">
                                        Trạng thái:</label>
                                </div>
                                <div class="input" style="line-height: 30px;">
                                    <input type="radio" value="Hoạt động" id="rdActive" tabindex="18" checked="checked"
                                        title="Hoạt động" name="Status" style="float: none;" />
                                    <label class="radiotext" for="rdActive" style="cursor: pointer">
                                        Hoạt động</label>
                                    <input type="radio" value="Hoạt động" id="rdDeactive" tabindex="19" title="Khóa"
                                        name="Status" style="float: none;" />
                                    <label class="radiotext" for="rdDeactive" style="cursor: pointer">
                                        Khóa</label>
                                </div>
                            </div>
                            <div style="float: left; width: 50%;">
                                <div class="labelincol widthincol120" id="divCreateDate">
                                    <label for="input">
                                        Ngày tạo:</label>
                                </div>
                                <div class="input" style="line-height: 30px;">
                                    <label id="lbCreateDate">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div style="float: left; width: 50%;">
                                <div class="labelincol widthincol120">
                                    <label for="input">
                                        Thông tin mô tả:</label>
                                </div>
                                <div class="input">
                                    <textarea class="input" tabindex="20" id="txtDescription" cols="73" maxlength="1000"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="bottom-popup">
                <input type="button" id="popup_cancel" value="Bỏ qua" tabindex="22" class="buttonok" />
                <input type="button" id="popup_save" value="Lưu lại" tabindex="21" class="buttonok" />
                <div style="clear: both;">
                </div>
            </div>
            <div style="clear: both;">
            </div>
        </div>
    </div>
</div>
