<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString"  defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>            
      <add name="Login" virtualUrl="^~/login" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/Login.aspx" ignoreCase="true"/>
      <add name="Home" virtualUrl="^~/index.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/account.aspx" ignoreCase="true"/>
      <add name="Portal" virtualUrl="^~/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/Login.aspx" ignoreCase="true"/>
  </rewrites>
</urlrewritingnet>