<connectionStrings>
  <add name="CONNECTION_STRING_WEBSOFT" connectionString="data source=.;Initial Catalog=WEBSOFT;uid=sa;pwd=12345"/>
  <add name="CONNECTION_STRING_ADMIN_WEBSOFT" connectionString="data source=.;Initial Catalog=WEBSOFT;uid=sa;pwd=12345"/>
  <add name="WebSoft.ConnectString" connectionString="metadata=res://*/WebSoft.csdl|res://*/WebSoft.ssdl|res://*/WebSoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=WEBSOFT;User ID=sa;Password=12345;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />  
</connectionStrings>